.card {
  border: 1px solid red;
  height: 400px;
}

img {
  object-fit: contain;
  object-position: center;
  width: 250px;
  height: 200px;
}
p{
    margin: 0;
}
.card-bottom{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}